
.sidebar {
    margin: 0;
    padding-bottom: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-left: 5px;
  }
.push-down{
    margin-top: 50px;
}
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .sidebar a:hover{
    background-color: gray;
    font-weight: bold;
    color: white;
  }
  /* .history a{
    background-color: white;
    border: 2px solid black;
    font-weight:bold;
  } */
  div.content{
    margin-top: 120px;
    margin-left: 250px;
    padding: 1px 16px;
  }
  /* zzzzzzzzzzz */
  .col-md-4 i{
    font-size: 40px;
    margin-left: 10px;
}
  .column {
    float: left;
    width: 40%;
    text-align: center;
  }
  .col-md-2{
    margin-right: 20px;
  }
  .col-md-2 i{
    font-size: 40px;
  }
  .column i {
    position: relative;
    bottom: 8px;
  }
  .column b{
    color: white;
  }

.addbook{
    margin-top: 20px;
}
.addbook a{
    background-color: darkblue;
    padding: 10px;
    border-radius: 15px;
}
.addbook a{
    text-decoration: none;
    color: gray;
    color: white;
}
.addbook a:hover,.editbook a:hover,.cancelbook a:hover{
    background-color: gray;
    color: white;
    font-weight: bold;
}
.table{
    margin-top: 20px;
}
.editbook,.cancelbook{
    margin-top: 30px;
}
.editbook a,.cancelbook a{
  text-decoration: none;
  padding: 10px;
  color: white;
}
.editbook a{
  background-color: darkred;
  font-size: small;
  border-radius: 15px;
}
.cancelbook a{
  background-color: darkorange;
  font-size: small;
  border-radius: 15px;
}
.pending2{
  background-color: #70a1ff;
  color: white;
  padding: 5px;
  font-weight:lighter;
  border-radius: 15px;
}
.accepted{
  background-color: #2ed573;
  color: white;
  padding: 5px;
  font-weight:lighter;
  border-radius: 15px;
}
.rejected2{
  background-color: #ff4757;
  color: white;
  padding: 5px;
  font-weight:lighter;
  border-radius: 15px;
}
.disable{
  pointer-events: none;
}
@media screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .push-down{margin-top: 0px;}
    .sidebar a {float: left; margin-left: 15px; margin-top: 10px;}
    div.content {margin-left: 0; }
    div.content{margin-top: 0; margin-left: 0;}
    .column{
        width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  