.container h2{
    text-align: center;
}
.teeth img{
    width: 30px;
    /* background-color: aqua; */
}
.teeth{
    width: 35px;
}
.testing {
    color: red;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    color: red;
}
.disable{
    pointer-events: none;
}
.rar a,.rar input{
    border-radius: 15px!important;
}