
.approve a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    /* padding: 5px;;    */
    padding-left: 24px!important;
    padding-right: 24px!important;
    border-radius: 15px!important;
}
/* .container h2{
    margin-top: 10px;
}
.container h6{
    margin-top: 20px;
}
.container h6 a{
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px!important;

}
.container h6 a:hover{
    background-color: gray!important;
} */