.push-down{
    margin-top: 0;
}
.approve a,.reject a{
    /* border: 2px solid green; */
    border-radius: 15px!important;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 5px;;
}
.approve a:hover,.reject a:hover{
    background-color: gray!important;
  }
  
  @media screen and (max-width: 700px) {
    .approve a,.reject a{
        font-size: 8px;        
    }
  }
